body {
   background-color: white;
   padding-bottom: 5vh;
}

.navbar {
   margin-bottom: 0;
}

.listings {
   display: flex;
   flex-direction: row;
   column-gap: 50px;
   padding: 2rem;
}

.listings img {
   width: 200px;
} 

.listing {
   display: flex;
   flex-direction: row;
}

.listing p {
   font-size: 1.3em;   
}

.listing-info {
   margin-left: 2rem;
}

.title {
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

.hidden {
   visibility: hidden;
   overflow: hidden;
   line-height: 0;
}

@media screen and (max-width: 600px) {
   .listings {
      flex-direction: column;
   }
}