body {
   background-color: white;
   padding-bottom: 5vh;
}

.content {
   position: relative;
 }

 img {
   width: 100%;
   height: 29em;
   margin-bottom: 1.5em;
 }
 
/* .main-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-image: url("/assets/meadow-pine-trees.jpg");
   background-size: cover;
   opacity: 0.8;
 }*/

 .main-title h1{
   display: block;
  font-size: 4em;
  margin-bottom: 0.3em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: green;
  text-shadow: 2px 2px darkgreen;
 }
 
 .text-box {
   position: absolute;
   top: -30%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.7);
   padding: 30px;
 }
 
 .text-box h2 {
   font-size: 36px;
   font-weight: bold;
   color: #000;
 }
 
 .text-box p {
   margin-top: 5%;
   font-size: 18px;
   color: #000;
 } 

.navbar {
   margin-bottom: 0;
}

.listings {
   display: flex;
   flex-direction: row;
   column-gap: 50px;
   padding: 2rem;
}

.listings img {
   width: 100%;
   height: auto;
   max-width: 15vw;
   max-height: 15vw;
   min-width: 150px;
   min-height: 150px;
} 

.listing {
   display: flex;
   flex-direction: row;
   align-items: center; 
   column-gap: 20px;
}

.listing p {
   font-size: 1.3em;   
}

.title {
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

.subtitle {
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 20rem;
   padding-right: 1rem;
}​

.reserve {
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 20rem;
   padding-right: 1rem;
   font-size: 1.3em; 
}

.hidden {
   visibility: hidden;
   overflow: hidden;
   line-height: 0;
}

.login {
   width: 40%;
   margin: 0 auto;
}

.card-deck {
   margin-left: 20%;
   max-width: 80%;
   display: flex;
   justify-content: normal;
}

.card {
   flex: 0 1 24%;
   /* border:1px solid black;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-radius: 5px; 5px rounded corners */
}

.homecategories {
   display: flex;
   flex-direction: row;
   justify-content: center;
   column-gap: 50px;
   padding: 2rem;
   vertical-align: top;
   text-align: center;
}

.homecategory img {
   width: 100%;
   height: auto;
   max-width: 15vw;
   max-height: 15vw;
   min-width: 150px;
   min-height: 150px;
} 

.homecategory {
   display: flex;
   flex-direction: row;
   align-items: center; 
   column-gap: 20px;
}

.homecategory-title {
   font-size: 1.3em;
   text-align: center;   
}

h2 {
   margin: 0;
   text-align: center;
}

.text-center {
   align-items: center; 
}

.hometext{
   display: table;
   margin: auto; 
   padding-top: 2%;
}

.hometextin{
   display: table-cell;
}

.modal-title {
   text-align: center;
}

.modal-body img {
   width: 100%;
   height: auto;
   max-width: 30vw;
   max-height: 30vw;
   min-width: 300px;
   min-height: 300px;
}

.request-alert {
   background-color: rgb(253, 158, 158);
   text-align: center;
   font-size: 1.8rem;
}

@media screen and (max-width: 600px) {
   .listings {
      flex-direction: column;
      column-gap: 0;
      row-gap: 50px;
   }

   .listing {
      flex-direction: column;
      align-items: center;
      row-gap: 0;
      column-gap: 20px;
   }

   .modal-body img {
      min-width: 200px;
      min-height: 200px;
   }

}
