body {
   background-color: white;
   padding-bottom: 5vh;
}

.content {
   position: relative;
}

img {
   width: 100%;
   height: 29em;
   margin-bottom: 1.5em;
}
 
.homecategories a:link,
.homecategories a:visited {
   color: black;
   text-align: center;
   text-decoration: none;
}

.homecategories a:hover {
   color: gray;
   text-align: center;
   text-decoration: none;
}

.main-title h1{
display: block;
font-size: 4em;
margin-bottom: 0.3em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
color: green;
text-shadow: 2px 2px darkgreen;
}

.text-box {
position: absolute;
top: -30%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
text-align: center;
background-color: rgba(255, 255, 255, 0.7);
padding: 30px;
}

.text-box h2 {
font-size: 36px;
font-weight: bold;
color: #000;
}

.text-box p {
margin-top: 5%;
font-size: 18px;
color: #000;
} 

.navbar {
   margin-bottom: 0;
}

.listings, 
.requests,
.own {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   column-gap: 20px;
   row-gap: 80px;
   padding: 2rem;
   margin-top: 50px;
}

.listings img, 
.requests img,
.own img {
   width: 100%;
   height: auto;
   max-width: 15vw;
   max-height: 15vw;
   min-width: 180px;
   min-height: 180px;
   margin-bottom: 0;
} 

.listings h3,
.requests h3,
.listing-details h3 {
   margin-top: 0;
}

.listing {
   display: flex;
   flex-direction: row;
   align-items: center; 
   justify-content: center;
   column-gap: 20px;
   width: 100%;
   min-width: 200px;
   max-width: 600px;
   height: 100%;
}

.listing-details {
   display: flex;
   flex-direction: row;
   align-items: center; 
   column-gap: 20px;
   width: 100%;
   min-width: 200px;
   max-width: 600px;
}

.listing p,
.listing-details p {
   font-size: 1.3em;   
}

.listing-info {
   width: 100%;
}

.listing-full {
   min-width: 550px;
   max-width: unset;
}

.img-btn {
   cursor: pointer;
}

.title {
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

.subtitle {
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 20rem;
   padding-right: 1rem;
}​

.reserve {
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 20rem;
   padding-right: 1rem;
   font-size: 1.3em; 
}

.hidden {
   visibility: hidden;
   overflow: hidden;
   line-height: 0;
}

.login {
   width: 40%;
   margin: 0 auto;
}

.homecategories {
   display: flex;
   flex-direction: row;
   justify-content: center;
   column-gap: 50px;
   padding: 2rem;
   vertical-align: top;
   text-align: center;
}

.homecategory img {
   width: 100%;
   height: auto;
   max-width: 15vw;
   max-height: 15vw;
   min-width: 150px;
   min-height: 150px;
} 

.homecategory {
   display: flex;
   flex-direction: column;
   align-items: center; 
   column-gap: 20px;
}

.homecategory-title {
   font-size: 1.3em;
   text-align: center;   
}

h2 {
   margin: 0;
   text-align: center;
}

.text-center {
   align-items: center; 
}

.hometext{
   display: table;
   margin: auto; 
   padding-top: 2%;
}

.hometextin{
   display: table-cell;
}

.modal-title {
   text-align: center;
}

.modal-body img {
   width: 100%;
   height: auto;
   max-width: 30vw;
   max-height: 30vw;
   min-width: 300px;
   min-height: 300px;
   margin-bottom: 0;
}

.request-alert {
   background-color: rgb(253, 158, 158);
   text-align: center;
   font-size: 1.8rem;
}

.warn-alert {
   background-color: rgb(255, 240, 195);
   text-align: center;
   font-size: 1.8rem;
}

.success-alert {
   background-color: rgb(202, 244, 185);
   text-align: center;
   font-size: 1.8rem;
}

footer {
   margin-top: 50px;
   font-size: 1.2em;
   text-align: center;
}

.request-info {
   width: 60vw;
   margin-left: auto;
   margin-right: auto;
}

.request-info div {
   padding: 1rem;
}

.request-info img {
   width: 100%;
   height: auto;
   max-width: 15vw;
   max-height: 15vw;
   min-width: 200px;
   min-height: 200px;
}

.cta {
   display: flex;
   flex-direction: row;
   column-gap: 1rem;
   align-items: center;
   justify-content: center;
}

.container {
   column-width: 10em;
   display: flex;
   flex-direction: row;
}

.filter-status {
   padding-left: 1rem;
}

.dash-section {
   display: flex;
   flex-direction: row;
   column-gap: 20px;
   align-items: center;
   margin-top: 20px;
}

.dash-section h1 {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 20rem;
}

.steps li {
   padding-top: 1rem;
   font-size: 1.5em;
}

@media screen and (max-width: 600px) {
   .listings {
      flex-direction: column;
      column-gap: 0;
      row-gap: 50px;
   }

   .listing {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      column-gap: 0;
      min-width: 100px;
      max-width: 200px;
   }

   .listing img {
      margin-bottom: 1rem;
   }

   .modal-body img {
      min-width: 200px;
      min-height: 200px;
   }

   .listing-details {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      column-gap: 0;
   }

   .listing-full {
      min-width: 300px;
      max-width: unset;
   }

   .request-info {
      width: 100vw;
   }

   .cta {
      flex-direction: column;
      row-gap: 1rem;
   }

   h1 {
      font-size: 24px;
   }

   .homecategories {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 50px;
      padding: 2rem;
      align-items: center;
      vertical-align: top;
      text-align: center;
   }

   .container {
      flex-direction: column;
   }

}

.filtered-state{
   color: black;
   display:inline-block;
   padding: 5px;
   margin-left: 10px;
   background-color: lightgrey;
   border-radius: 5px;

}

#filter-list > p{

   display: inline-block;
}